<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/index.css">
    <title>Comments</title>
</head>
<body>
    <form method="POST">
        <textarea name="comment"></textarea>
        <div>
            <button type="submit">Post Comment</button>
        </div>
    </form>
   <h1>Comments</h1>
   {{range . }}
   <div class="comments">{{.}}</div>
   {{end}}
</body>
</html>